:root {
	--color-bg-primary-1: #221100;        /* Main background color */
	--color-bg-primary-2: #221800;        /* Main background color */
	--color-bg-secondary: #2dcf5e;      /* Hover/secondary background */
	--color-bg-light: rgba(255, 255, 255, 0.1);       /* Light overlay background */
	--color-text-primary: #fffbd7;     /* Main text color */
	--color-text-secondary: #c0bfb3;      /* Secondary text and borders */
	--color-text-light: #ffffff;	/* Text on dark background */
	--color-text-dark: #141414;	/* Text on light background */
	--color-accent: #3bf172;   /* Accent color (links, highlights) */
	--color-error: #ff4221;      /* Error or invalid input indicator */
	--color-shadow: #000000;   /* Used for shadows, text-shadow, etc. */

	/* === Transparent Variants === */
	--color-overlay-dark: rgba(0, 0, 0, 0.9);    /* Navigation overlay background */
	--color-card-shadow-dark: rgba(0, 0, 0, 0.9); /* Card inner shadow */
	--color-card-shadow-accent: rgba(21, 39, 27, 0.9); /* Hover shadow variant */

	--font-display: ClashDisplay-Variable, sans-serif;
	--font-body: GeneralSans-Variable, sans-serif;
	--font-stylized: Zodiak-Variable, sans-serif;
}

@media print {
	
	@page {
		size: A4;
	}
	
	/* Footer en class niet weergeven bij het printen */
	footer, .notPrintable {
		display: none;
	}
	
	/* Class juist wel weergeven bij het printen */
	.printOnly {
		display: inline-block;
	}

	body {
		background-color: white;
	}
	
	/* Basisinstellingen voor het grid die lijkt op het grid van 1024+px */
	.gridContainer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		margin: 0px 15px 0px 15px;
		gap: 20px;
		justify-items: left;
	}
	
	/* De hoogte van break rules wat lager maken */
	br {
		display: block;
		content: ""; 
		margin-bottom: 0.5em;
	}
	
	/* Iets aangepaste tekststijlen */
	h1 {
		font-size: 2rem;
		line-height: 2.2rem;
		font-family: var(--font-display);
		font-weight: 800;
		color: var(--color-text-dark);
	}
	
	h2 {
		font-size: 1.3em;
		font-family: var(--font-display);
		font-weight: 600;
		color: var(--color-accent);
	}
	
	h3.overMijH3 {
		font-size: 0.8em;
		font-family: var(--font-display);
		font-weight: 600;
		color: var(--color-text-dark);
	}

	.overMijFunctieInfo {
		font-size: 0.7em;
		font-family: var(--font-display);
		font-weight: 300;
		color: var(--color-text-secondary);
	}
	
	p, a {
		font-size: 0.65em;
		line-height: 1.2em;
		font-family: var(--font-body);
		font-weight: 400;
		font-style: normal;
		color: var(--color-text-dark);
	}

	a.hyperlink {
		color: var(--color-text-dark);
		font-size: 0.65em;
		line-height: 1.2em;
	}

	.quote {
		font-size: 0.5em;
	}
	
	/* Stijl voor de ampersand */
	.ampersand {
		font-family: var(--font-stylized);
		line-height: 0;
		font-weight: 400;
		color: var(--color-accent);
	}
	
	/* Stijl voor de lijst onder het kopje karakter */
	#karakter ul {
		font-size: 0.65em;
		font-family: var(--font-body);
		font-weight: 400;
		font-style: normal;
		list-style: disc;
		padding-left: 15px
	}
	
	/* Opsommingsteken groen maken */
	#karakter li::marker {
		color: var(--color-accent);
	}
	
	/* Header van de pagina 4 columns (gehele breedte) in laten nemen */
	.pageHeader {
		grid-column: 1 / span 4;
		grid-row: 1;
	}
	
	/* De header rechts naast de afbeelding plaatsen */
	#headerAsideLeft {
		grid-column: 1 / span 3;
		grid-row: 1;
	}
	
	/* Afbeelding linksboven plaatsen */
	.heroImage {
		grid-column: 4;
		grid-row: 1;
		width: 100%;
		height: 7em;
		object-fit: cover;
		transform: rotate(0deg);
	}
	
	/* Subgrid om de main content en sidebar naast elkaar te zetten */
	.overmijGrid {
		display: grid;
		grid-column: 1 / span 4;
		grid-row: 2;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
	}
	
	/* Main content neemt de drie rechter kolommen in */
	.overmijMain {
		grid-column: 2 / span 3;
	}
	
	/* Margin aan de onderkant van alle articles */
	.overmijMain article, .overmijSidebar article {
		padding: 0.8em 0;
	}

	.overmijMain article:first-of-type {
		padding-top: 0.8em;
	}


	.overmijMain article:not(:last-of-type) {
		border-bottom: 2px solid var(--color-text-secondary);
	}
	
	/* Margin aan de bovenkant van alle h3's die niet de eerste binnen hun section zijn */
	.overmijMain article h3:not(:first-of-type) {
		margin-top: 1em;
	}
	
	/* Sidebar neemt linker kolom in */
	.overmijSidebar {
		grid-column: 1;
	}

	/* Stijl van een article in de sidebar met een border */
	.overmijSidebar article {
		margin-bottom: 0.5em;
		border: solid 2px var(--color-text-secondary);
		padding: 10px;
		border-radius: 5px;
	}

}